html{
    background-color: black;
}

.introduction{

    display: grid;
    justify-items: center;
    align-items: center;
    border:solid;
    height:300px;
    width:100%;
}
.center{
    font-family: monaco,monospace;
    text-align: center;
    color:white;
}
.proposal{

    border:solid;
    width:50%;
}
.proposalheading{
    font-family: monaco,monospace;
    text-align: center;
    color:white;
    border:solid;
    border-color: black;
}
.proposaltext{
    
    font-family: monaco,monospace;
    text-align: center;
    color:white;
    border:solid;
    border-color:black;

    white-space: pre-line;
}