nav{
    margin: 0px auto 0;
    position: relative;
    width:590px;
    height:50px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    font-size:0;
    font-family: monaco,monospace;
    border:solid;
    
    
  }
  nav a{
    line-height: 50px;
    height:100%;
    font-size:20px;
    display: inline-block;
    position:relative;
    z-index: 1;
    text-decoration:none;
    
    text-align: center;
    color:white;
    cursor:pointer;
  }
  nav .animation{
    position:absolute;
    height:100%;
    top:0;
    z-index:0;
    transition: all .5s ease 0s;
    border-radius:8px;
  }
  
  a:nth-child(1){
    width:147px;
  }
  
  a:nth-child(2){
    width:147px;
  }
  
  a:nth-child(3){
    width:147px;
  }
  
  a:nth-child(4){
    width:147px;
  }
  
  nav a:nth-child(1):hover~.animation{
    width:147px;
    left:0;
    background-color: #1399e1;
  }
  
  nav a:nth-child(2):hover~.animation{
    width:147px;
    left:147px;
    background-color: #1399e1;
  }
  
  nav a:nth-child(3):hover~.animation{
    width:147px;
    left:294px;
    background-color: #1399e1;
  }
  nav a:nth-child(4):hover~.animation{
    width:147px;
    left:441px;
    background-color: #1399e1;
  }